.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav a {
  font-size: 16px;
  color: blanchedalmond;
  text-align: center;
  font-weight: 600;
  margin: 0 5px;
  padding: 10px;
  transition: color 300ms ease-in-out;
}

.nav a:hover {
  color: blue;
}